body {
  background-color: #eeedeb;
}

.loginForm {
  margin: auto;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 1rem;
  width: 500px;
  height: auto;
  border: 7px solid #435334;
  background-color: #ffffff;
  padding: 0.8rem 2rem 1.7rem 2rem;
  font-family: math, fantasy;
}

.loginBar {
  margin-top: -1rem;
  height: 0.5rem;
  width: 100%;
  background-color: #435334;
}

.loginInput {
  width: 220px;
  height: 1.2rem;
  margin-top: -0.6rem;
}

.container {
  font-family: math, fantasy;
  display: flex;
  flex-direction: column;
  margin: auto;
  width: 100%;
  height: auto;
  min-width: 900px;
  max-width: auto;
}

.content {
  background-color: #eeedeb;
  display: flex;
  flex-wrap: wrap;
  gap: 2rem;
  align-items: flex-start;
  padding: 2rem;
  height: auto;
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-around;
  margin: 0px;
  width: 100%;
  height: 80px;
  background-color: #435334;
  text-align: center;
  padding-top: 2rem;
  font-size: 2.5rem;
  color: #ffffff;
}

.navbar {
  margin: 0px;
  width: 100%;
  height: 80px;
  background-color: #ffffff;
}

.linksList {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 3rem;
  list-style-type: none;
  font-size: 1.5rem;
}

a {
  color: #435334;
}

a:hover {
  color: red;
}

#logoutBtn {
  width: 9rem;
  height: 2.8rem;
  border-radius: 7px;
  font-size: 1.2rem;
  font-family: fantasy, math;
  background-color: #ffffff;
}

#logoutBtn:hover {
  border: 3px solid red;
}

.listingCard {
  width: 225px;
  height: auto;
  background-color: #ffffff;
  border: 2px solid #435334;
  padding: 0.5rem 1.5rem 1rem 1.5rem;
  border-radius: 10px;
}

.btnWrapper {
  display: flex;
  justify-content: space-evenly;
}

.cardBtn {
  width: 90px;
  height: 40px;
  margin: 0.2rem;
  background-color: #ffffff;
  border-radius: 7px;
  font-family: fantasy, math;
}

.cardBtn:hover {
  border: 2px solid red;
}

.modal {
  position:fixed;
  margin: auto;
  align-self: center;
}

.modalDetails {
  margin:auto;
  display: block;
  align-self: center;
  width: 520px;
  height: auto;
  border: 5px solid #435334;
  background-color: #ffffff;
  padding: 0.5rem 2rem 1.5rem 2rem;
}

.modalBar {
  height: 0.5rem;
  width: 100%;
  margin: -0.4rem 0rem 1.5rem 0rem;
  background-color: #435334;
}


.modalBtn {
  width: 120px;
  height: 40px;
  background-color: #ffffff;
  border-radius: 7px;
  margin-top: 1rem;
  font-family: fantasy, math;
  font-size: 1.1rem;
}

.modalBtn:hover {
  border: 2px solid red;
}

.checkBoxes {
  border: 2px solid red;
  display: flex;
  flex-direction: column;
}