body {
  background-color: #eeedeb;
}

.loginForm {
  margin: auto;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 1rem;
  width: 500px;
  height: auto;
  border: 7px solid #435334;
  background-color: #ffffff;
  padding: 0.8rem 2rem 1.7rem 2rem;
  font-family: math, fantasy;
}

h1.formTitle {
  font-family: fantasy, math;
  color: #435334;
}

.loginBar {
  margin-top: -1rem;
  height: 0.5rem;
  width: 100%;
  background-color: #0b6623;
}

.loginInput {
  width: 220px;
  height: 1.4rem;
  margin-top: -0.6rem;
  font-family: math, fantasy;
  font-size: 1rem;
}

.loginInputProduct {
  width: 340px;
  height: 1.4rem;
  margin-top: -0.6rem;
  font-family: math, fantasy;
  font-size: 1rem;
}

.loginInputLocation {
  width: 340px;
  height: 1.4rem;
  margin-top: -0.6rem;
  font-family: math, fantasy;
  font-size: 1rem;
}


.loginInputTextarea {
  width: 480px;
  height: 5.2rem;
  margin-top: -0.6rem;
  font-family: math, fantasy;
  font-size: 1rem;
}

.loginCheckbox {
  width: 1.4rem;
  height: 1.4rem;
  font-family: math, fantasy;
}

.formBtnWrapper {
  display: flex;
  gap: 1.2rem;
}

.container {
  font-family: math, fantasy;
  display: flex;
  flex-direction: column;
  margin: auto;
  width: 100%;
  height: auto;
  min-width: 900px;
  max-width: auto;
}

.content {
  background-color: #eeedeb;
  display: flex;
  flex-wrap: wrap;
  gap: 2rem;
  align-items: flex-start;
  padding: 2rem 1rem 2rem 2rem;
  height: auto;
}

.header {
  font-family: fantasy, math;
  display: flex;
  align-items: center;
  justify-content: space-around;
  margin: 0px;
  width: 100%;
  height: 80px;
  background-color: #435334;
  text-align: center;
  padding-top: 2rem;
  padding-bottom: 1.6rem;
  font-size: 2.8rem;
  color: #ffffff;
}

.navbar {
  margin: 0px;
  width: 100%;
  height: 80px;
  background-color: #ffffff;
}

.linksList {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 3rem;
  list-style-type: none;
  font-size: 1.5rem;
}

a {
  color: #435334;
}

a:hover {
  color: red;
}

#logoutBtn {
  width: 9rem;
  height: 2.8rem;
  border-radius: 7px;
  font-size: 1.2rem;
  font-family: fantasy, math;
  background-color: #ffffff;
  padding-top: 0.5rem;
}

#logoutBtn:hover {
  border: 3px solid red;
}

.listingCard {
  width: 252px;
  height: 265px;
  background-color: #ffffff;
  border: 2px solid #435334;
  padding: 0rem 0.5rem 0rem 0.5rem;
  border-radius: 30px;
  text-align: center;
  display: flex;
  flex-direction: column;
}

.cardBtnWrapper {
  display: flex;
  justify-content: space-evenly;
  margin-top: 1rem;
}

.cardBtn {
  width: 90px;
  height: 40px;
  margin: 0.2rem;
  background-color: #ffffff;
  padding-top: 0.2rem;
  border-radius: 7px;
  font-family: fantasy, math;
  border: 2px solid green;
}

.cardBtn:hover {
  border: 2px solid red;
}

.modal {
  position:fixed;
  margin: auto;
  align-self: center;
}

.modalDetails {
  margin:auto;
  display: block;
  align-self: center;
  width: 520px;
  height: auto;
  border: 5px solid #435334;
  background-color: #ffffff;
  padding: 0.5rem 2rem 1.5rem 2rem;
}

.modalDetails h1 {
  color: #435334;
  font-family: fantasy, math;
}

.map {
  margin-bottom: 0.5rem;
}

.dietTag {
  margin: 0.5rem 0rem 0.5rem 0rem;
}

.modalBar {
  height: 0.5rem;
  width: 100%;
  margin: -0.4rem 0rem 1.5rem 0rem;
  background-color: #0b6623;
}

.modalBtn {
  width: 120px;
  height: 40px;
  background-color: #ffffff;
  border-radius: 7px;
  margin-top: 1rem;
  font-family: fantasy, math;
  font-size: 1.1rem;
  border: 2px solid green;
}

.modalBtn:hover {
  border: 2px solid red;
}

.checkBoxes {
  width: 180px;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.checkboxPair {
  display: flex;
  align-items: end;
  justify-content: space-between;
}

div.listingCard p {
  height: 1.5rem;
  margin: 0.1rem;
}

div.listingCard h3 {
  height: 1.2rem;
  margin-top: 1.3rem;
  line-height: 1.5rem;
  width: 240px;
  align-self: center;
  color: #0b6623;
  font-family: fantasy, math;
}

div.listingCard h4 {
  height: 1rem;
  margin-top: 1.2rem;
}