body {
  background-color: #f4f4f4;
}

.snackbar {
  position: fixed;
  left: 2.2rem;
  bottom: 2.2rem;
  width: 400px;
  height: 110px;
  background-color: #e0f0e3;
  border: 3px solid green;
  padding: 0rem 1rem 0rem 1rem;
  border-radius: 10px;
  color: green;
  font-family: fantasy, math;
}

.snackbar h2 {
  margin-left: 0.5rem;
  line-height: 4.5rem;
}

.form {
  background-color: #f4f4f4;
}

.loginForm {
  margin: auto;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 1rem;
  width: 500px;
  height: auto;
  border: 7px solid #435334;
  background-color: #ffffff;
  padding: 0.8rem 2rem 1.7rem 2rem;
  font-family: math, fantasy;
}

.formTag {
  height: 1.5rem;
  margin: 1.5rem 0px 1.2rem 0px;
}

.formTagDelete {
  height: 1.5rem;
  margin: 1rem 0px 1.2rem 0px;
}

h1.formTitle {
  font-family: fantasy, math;
  color: #435334;
}

.loginBar {
  margin-top: -1rem;
  height: 0.5rem;
  width: 100%;
  background-color: #0b6623;
}

.loginInput {
  width: 220px;
  height: 1.4rem;
  margin-top: -0.6rem;
  font-family: math, fantasy;
  font-size: 1rem;
}

.loginInputProduct {
  width: 340px;
  height: 1.4rem;
  margin-top: -0.6rem;
  font-family: math, fantasy;
  font-size: 1rem;
}

.loginInputLocation {
  width: 340px;
  height: 1.4rem;
  margin-top: -0.6rem;
  font-family: math, fantasy;
  font-size: 1rem;
}


.loginInputTextarea {
  width: 480px;
  height: 5.2rem;
  margin-top: -0.6rem;
  font-family: math, fantasy;
  font-size: 1rem;
}

.loginCheckbox {
  width: 1.4rem;
  height: 1.4rem;
  font-family: math, fantasy;
}

.formBtnWrapper {
  display: flex;
  gap: 1.2rem;
}

.container {
  font-family: math, fantasy;
  display: flex;
  flex-direction: column;
  margin: auto;
  width: 100%;
  height: auto;
  min-width: 900px;
  max-width: auto;
}

.content {
  background-color: #f4f4f4;
  display: flex;
  flex-wrap: wrap;
  gap: 0.5rem;
  align-items: flex-start;
  padding: 2rem 1rem 2rem 1rem;
  height: auto;
}

.loginContent {
  background-color: #f4f4f4;
  padding: 2rem 1rem 2rem 1rem;
  height: auto;
}

.header {
  font-family: fantasy, math;
  display: flex;
  align-items: center;
  justify-content: space-around;
  margin: 0px;
  width: 100%;
  height: 80px;
  background-color: #435334;
  text-align: center;
  padding-top: 2.5rem;
  padding-bottom: 1.2rem;
  font-size: 3rem;
  color: #ffffff;
}

.navbar {
  margin: 0px;
  width: 100%;
  height: 70px;
  background-color: #596a48;
  font-family: fantasy, math;
}

.linksList {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  gap: 3rem;
  list-style-type: none;
  font-size: 1.4rem;
}

a {
  color: #ffffff;
  text-decoration: none;
}

a:hover {
  color: red;
}

#logoutBtn {
  width: 9rem;
  height: 2.8rem;
  border-radius: 7px;
  font-size: 1.3rem;
  font-weight: bold;
  font-family: fantasy, math;
  background-color: #ffffff;
  padding-top: 0.4rem;
  color: #435334;
}

#logoutBtn:hover {
  border: 3px solid red;
}

.listingCard {
  width: 272px;
  height: 235px;
  background-color: #ffffff;
  border: 1px solid #435334;
  padding: 0rem 0.6rem 0rem 1rem;
  border-radius: 5px;
  align-items: center;
  justify-content: center;
  text-align: center;
  display: flex;
  flex-direction: column;
  box-shadow: 2px 2px 4px #435334;
}

.cardBtnWrapper {
  width: 100%;
  display: flex;
  gap: 4px;
  justify-content: start;
  align-items: center;
  margin-top: 0.9rem;
  margin-left: -7px;
}

.cardBtn {
  width: 75px;
  height: 30px;
  margin: 0.2rem;
  background-color: #ffffff;
  padding-top: 0.2rem;
  border-radius: 5px;
  font-family: fantasy, math;
  border: 2px solid green;
  line-height: 23px;
}

.cardBtn:hover {
  border: 2px solid red;
}

.modal {
  position:fixed;
  margin: auto;
  align-self: center;
  margin-top: 2rem;
  z-index: 9;
}

.modalDetails {
  margin:auto;
  display: block;
  align-self: center;
  width: 520px;
  height: auto;
  border: 5px solid #435334;
  background-color: #ffffff;
  padding: 0.5rem 2rem 1.5rem 2rem;
}

.modalDetails h1 {
  color: #435334;
  font-family: fantasy, math;
}

.listingsMap {
  width: 100%;
  margin: 0px 0px 1rem 0px;
  height: 400px;
}

.homeMap {
  width: 100%;
  margin: 1rem 0px 1.5rem 0px;
  height: 500px;
}

.modalMap {
  width: 100%;
  margin: 1rem 0px 1.5rem 0px;
  height: 300px;
}

.dietTag {
  margin: 0.5rem 0rem 0.5rem 0rem;
}

.greenCheck {
  color: green;
}

.redX {
  color: red;
}

.modalBar {
  height: 0.5rem;
  width: 100%;
  margin: -0.4rem 0rem 1.5rem 0rem;
  background-color: #0b6623;
}

.modalBtn {
  width: 120px;
  height: 40px;
  background-color: #ffffff;
  border-radius: 6px;
  margin-top: 1rem;
  font-family: fantasy, math;
  font-size: 1.1rem;
  border: 2px solid green;
  padding-top: 0.3rem;
}

.modalBtn:hover {
  border: 2px solid red;
}

.checkBoxes {
  width: 180px;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.checkboxPair {
  display: flex;
  align-items: end;
  justify-content: space-between;
}

div.listingCard p#poster {
  display: flex;
  align-items: center;
  justify-content: left;
  text-align: left;
  width: 100%;
  height: 2.5rem;
  line-height: 1.25rem;
  margin-top: 0.8rem;
  margin-bottom: 0px;
}

div.listingCard p#expires {
  display: flex;
  justify-content: left;
  align-items: center;
  text-align: left;
  width: 100%;
  height: 1rem;
  margin-top: -0.4rem;
  margin-bottom: 0px;
}

div.listingCard h3 {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: left;
  text-align: left;
  height: 2.2rem;
  margin-top: 10px;
  margin-bottom: 0rem;
  line-height: 1.5rem;
  color: #0b6623;
  font-family: fantasy, math;
}

div.listingCard h4 {
  display: flex;
  justify-content: left;
  align-items: center;
  text-align: left;
  width: 100%;
  height: 1rem;
  margin-top: 18px;
  margin-bottom: 0rem;
}

.homeDetails {
  background-color: #ffffff;
  width: 100%;
  padding: 2rem;
  margin-bottom: 0.5rem;
}

.homeQuotes {
  background-color: #ffffff;
  width: 100%;
  padding: 1.2rem 2rem 0.8rem 2rem;
  margin-top: 0px;
  margin-bottom: 0.4rem;
}

.homeQuotes h2 {
  font-family: fantasy, math;
  color: #435334;
}

.homeQuotes h3 {
  font-family: fantasy, math;
  color: #435334;
}

.homeDetails h1 {
  font-family: fantasy, math;
  font-size: 2.3rem;
  color: #435334;
}

.homeDetails p {
  font-family: math, fantasy;
}

.profileContent {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 2rem;
}

.profileBtnWrapper {
  display: flex;
  gap: 1.2rem;
}